@media (min-width: 48rem) {

    .left-image {
        content: none;
    }

    .middle-image {
        content: url("../images/tablet/image-hero.png");
    }

    .right-image {
        content: none;
    }

    .hero {
        margin-top: 7.2rem;
        margin-left: 16rem;
        margin-right: 16rem;
    }

    .hero__title {
        font-size: clamp(4.8rem, 5vw, 6.4rem);
    }

    .buttons-box {
        flex-direction: row;
        gap: 1.7rem;
    }


    .section-01 {
        margin: 6.4rem 4.4rem;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 1.6rem;
        margin-bottom: 6.4rem;
    }

    .section-01 {
        margin-top: 12rem;
    }


    .section-01-article__highlight-text {
        font-size: 1.4rem
    }

    .section-01-article__title {
        font-size: 3.6rem;
        width: 44.5rem;
    }

    .section-01-article__text {
        width: 50.4rem;
    }

    .section-02 {

        background: linear-gradient(var(--cyan-600-opacity), var(--cyan-600-opacity)), url("../images/tablet/image-footer.jpg") no-repeat;
        background-size: cover;
    }

    .section-02-article__text{
        width: 50.4rem;
    }






}