@media (min-width: 48rem) {

    .left-image {
        content: none;
    }

    .middle-image {
        content: url("../images/tablet/image-hero.png");
    }

    .right-image {
        content: none;
    }

    .hero {
        margin-top: 7.2rem;
        margin-left: 16rem;
        margin-right: 16rem;
    }

    .hero__title {
        font-size: clamp(4.8rem, 5vw, 6.4rem);
    }

    .buttons-box {
        flex-direction: row;
        gap: 1.7rem;
    }


    .section-01 {
        margin: 6.4rem 4.4rem;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 1.6rem;
        margin-bottom: 6.4rem;
    }

    .section-01 {
        margin-top: 12rem;
    }


    .section-01-article__highlight-text {
        font-size: 1.4rem
    }

    .section-01-article__title {
        font-size: 3.6rem;
        width: 44.5rem;
    }

    .section-01-article__text {
        width: 50.4rem;
    }

    .section-02 {

        background: linear-gradient(var(--cyan-600-opacity), var(--cyan-600-opacity)), url("../images/tablet/image-footer.jpg") no-repeat;
        background-size: cover;
    }

    .section-02-article__text {
        width: 50.4rem;
    }


}




@media (min-width: 90rem) {


    .left-image {
        content: none;
    }

    .middle-image {
        content: none;
    }

    .right-image {
        content: none;
    }

    .desktop-left-image {
        content: url("../images/desktop/image-hero-left.png");
        height: 100%;
    }

    .desktop-right-image {
        content: url("../images/desktop/image-hero-right.png");
        height: 100%;
        align-self: flex-end;
    }

    .desktop-hero {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hero {
        margin-left: 3.2rem;
        margin-right: 3.2rem;
    }

    .hero__title {
        width: 44.83rem;
    }

    .hero__text {
        font-size: 1.8rem;
        width: 44.3rem;
    }

    header {
        margin-top: 8rem;
        margin-bottom: 0;
    }

    .section-01 {
        margin-left: 16rem;
        margin-right: 16rem;
    }

    .gallery {
        gap: 3.2rem;
    }

    .section-01-article__highlight-text {
        font-size: 1.6rem
    }

    .section-01-article__title {
        font-size: 4rem;
    }

    .section-01-article__text {
        font-size: 1.8rem;
        width: 54.81rem;
    }

    .section-02 {
        background: linear-gradient(var(--cyan-600-opacity), var(--cyan-600-opacity)), url("../images/desktop/image-footer.jpg") no-repeat;
        background-size: cover;
    }

    .section-02-article {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 15rem;
        margin-bottom: 11.2rem;
        margin-top: 11.2rem;
    }

    .section-02-article__title {
        font-size: 4rem;
        width: 34rem;
        text-align: left;
    }

    .section-02-article__text {
        font-size: 1.8rem;
        width: 33.5rem;
        text-align: left;
    }
}