:root {
    --cyan-300: #8FE3F9;
    --cyan-600-opacity: #4D96A9E1;
    --cyan-600: #4D96A9;
    --cyan-hover: #71C0D4;

    --purple-300: #D9B8FF;
    --purple-600: #855FB1;
    --purple-hover: #B18BDD;

    --slate-300: #D1D1DF;
    --slate-600: #87879D;
    --slate-900: #28283D;

    --white: #FAFAFA;
}


.text-preset-1 {
    font-size: 6.4rem;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0;
}

.text-preset-2 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0;
}

.text-preset-3 {
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0.4rem;
}

.text-preset-4 {
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0rem;
}

.text-preset-5 {
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0rem;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    min-height: 100dvh;
}


header {
    margin-top: 4.8rem;
    margin-bottom: 6.4rem;
}

.people-icons {
    display: flex;
    justify-content: space-between;
}

.left-image {
    content: url("../images/mobile/faces-left.png");
}

.right-image {
    content: url("../images/mobile/faces-right.png");
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.8rem 3.2rem 3.2rem 3.2rem;
    gap: 2.4rem;
}

.hero__title {
    font-size: clamp(4rem, 5vw, 6.4rem);
    text-align: center;
    color: var(--slate-900);
}

.hero__text {
    font-size: 1.6rem;
    text-align: center;
    line-height: 150%;
    color: var(--slate-600);
}

.buttons-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
}

.buttons-box button {
    padding: 1.6rem 4rem;
    border-radius: 2.9rem;
    border: none;
    cursor: pointer;
}

.buttons-box__download-button {
    background-color: var(--cyan-600);
    color: var(--white);
    width: 19.3rem;
    height: 5.6rem;
}

.buttons-box__download-button:hover{
    background-color: var(--cyan-hover);
}

.buttons-box__download-button span {
    color: var(--cyan-300);
    margin-left: 0.4rem;
}


.buttons-box__question-button {
    background-color: var(--purple-600);
    color: var(--white);
    width: 16.1rem;
    height: 5.6rem;
}

.buttons-box__question-button:hover{
    background-color: var(--purple-hover);
}

.section-01 {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6.4rem 3.2rem;
}

.separation-icon-01 {
    margin-bottom: 6.4rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.6rem;
    margin-bottom: 6.4rem;
}

.gallery img {
    width: 100%;
    border-radius: 0.8rem;
}


.section-01-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-01-article__highlight-text {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--cyan-600);
    margin-bottom: 1.6rem;
}

.section-01-article__title {
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
    color: var(--slate-900);
}


.section-01-article__text {
    font-size: 1.6rem;
    color: var(--slate-600);
    line-height: 150%;
}


.section-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--cyan-600-opacity), var(--cyan-600-opacity)), url("../images/mobile/mobile-image-footer.jpg") no-repeat;
    background-size: cover;
    margin-top: 17.2rem;
    color: var(--white);
    text-align: center;
}

.separation-icon-02{
    margin-top: -10.8rem;
    position: absolute;
}

.section-02-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    margin: 6.4rem 3.2rem;
}

.section-02-article__title{
    font-size: 3.2rem;
}

.section-02-article__text{
    font-size: 1.6rem;
    line-height: 150%;
}

.section-02 button {
    padding: 1.6rem 4rem;
    border-radius: 2.9rem;
    border: none;
    cursor: pointer;
}

.section-02__button{
    background-color: var(--purple-600);
    color: var(--white);
    width: 19.3rem;
    height: 5.6rem;
}

.section-02__button:hover{
    background-color: var(--purple-300);
}

.section-02__button span {
    color: var(--purple-hover);
    margin-left: 0.4rem;
}