:root {
    --cyan-300: #8FE3F9;
    --cyan-600: #4D96A9;

    --purple-300: #D9B8FF;
    --purple-600: #855FB1;

    --slate-300: #D1D1DF;
    --slate-600: #87879D;
    --slate-900: #28283D;

    --white: #FAFAFA;
}


.text-preset-1 {
    font-size: 6.4rem;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0;
}

.text-preset-2 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0;
}

.text-preset-3 {
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0.4rem;
}

.text-preset-4 {
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0rem;
}

.text-preset-5 {
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0rem;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    min-height: 100dvh;
}


header {
    margin-top: 4.8rem;
    margin-bottom: 6.4rem;
}

.people-icons {
    display: flex;
    justify-content: space-between;
}

.left-image {
    content: url("../images/mobile/faces-left.png");
}

.right-image {
    content: url("../images/mobile/faces-right.png");
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.8rem 3.5rem 3.5rem 3.5rem;
    gap: 2.4rem;
}

.hero__title {
    font-size: clamp(4rem, 5vw, 6.4rem);
    text-align: center;
    color: var(--slate-900);
}

.hero__text {
    font-size: 1.6rem;
    text-align: center;
    line-height: 150%;
    color: var(--slate-600);
}

.buttons-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
}

.buttons-box button {
    padding: 1.6rem 4rem;
    border-radius: 2.9rem;
    border: none;
    cursor: pointer;
}

.buttons-box__download-button {
    background-color: var(--cyan-600);
    color: var(--white);
    width: 19.3rem;
    height: 5.6rem;
}

.buttons-box__download-button span {
    color: var(--cyan-300);
    margin-left: 0.4rem;
}


.buttons-box__question-button {
    background-color: var(--purple-600);
    color: var(--white);
    width: 16.1rem;
    height: 5.6rem;
}

.section-01 {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6.4rem 3.2rem;
}

.separation-icon-01{
    margin-bottom: 6.4rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.6rem;
}

.gallery img{
    width: 100%;
    border-radius: 0.8rem;
}