:root {
    --cyan-300: #8FE3F9;
    --cyan-600: #4D96A9;

    --purple-300: #855FB1;
    --purple-600: #D9B8FF;

    --slate-300: #D1D1DF;
    --slate-600: #87879D;
    --slate-900: #28283D;

    --white: #FAFAFA;
}


.text-preset-1{
    font-size: 6.4rem;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0;
}

.text-preset-2{
    font-size: 4rem;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0;
}

.text-preset-3{
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0.4rem;
}

.text-preset-4{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0rem;
}

.text-preset-5{
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0rem;
}
