:root {
    --cyan-300: #8FE3F9;
    --cyan-600: #4D96A9;

    --purple-300: #855FB1;
    --purple-600: #D9B8FF;

    --slate-300: #D1D1DF;
    --slate-600: #87879D;
    --slate-900: #28283D;

    --white: #FAFAFA;
}


